
<div class="center jumbotron" id="login-img">
  <div class="form">
    <form method="post" action="/spaces/new">
      <label for="title">Space Title: </label>
      <input type="text" class="input-append" name="title"><br>
      <label for="description">Space Description: </label>
      <input type="text" class="input-append" name="description"><br>
      <label for="price">Price Per Night (GBP):</label>
      <input type="number" class="input-append" name="price"><br>
      <label for="datepicker">Choose A Date:</label>
      <div id="datepicker" class="input-append">
        <input type="text" name="date"></input>
        <span class="add-on">
          <i data-date-icon="icon-calendar"></i>
        </span>
      </div>
        <input type="submit" id="add-space" class="btn btn-default" value="Add Space">
    </form>

      <script type="text/javascript"
       src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js">
      </script>
      <script type="text/javascript"
       src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js">
      </script>
      <script type="text/javascript"
       src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.min.js">
      </script>
      <script type="text/javascript"
       src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.pt-BR.js">
      </script>
      <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
      <link rel="stylesheet" type="text/css" media="screen" href="http://tarruda.github.com/bootstrap-datetimepicker/assets/css/bootstrap-datetimepicker.min.css">
      <script type="text/javascript">
      $(document).ready(function () {
        $('#datepicker').datetimepicker({
          format: 'dd/MM/yyyy',
        });
      });
      </script>

  </body>
</html>
