
<div class="center jumbotron" id="login-img">
  <div class="form">
    <h2>Login</h2>
      <form class="" action="/users/login" method="post">
        <input id="email-address" type="text" class="form-control" name="email" value="" placeholder="Enter email"><br>
        <input id="password" type="password" class="form-control" name="password" value="" placeholder="Password"><br>
        <input class="btn btn-default" type="submit" id='login' value="Login"><br>
      </form>
  </div>
</div>
</body>
</html>
